<!-- /header -->
<!-- page header -->
<section id="page-header">
	<div class="container clearfix">
		<hgroup>
			<h1 class="page-title">Contact</h1>
			<h2 class="page-subtitle">Get in touch with us.</h2>
		</hgroup>
		<!-- share it -->
		<div id="share-wrap">
			<div id="share" data-url="contact.html" data-text="Contact" data-title="share"></div>
		</div>
		<!-- /share it -->
		<hr>
	</div>
</section>
<!-- /page header -->
<section id="main-content" class="container clearfix">
	<!-- boxes -->
	<section class="content">
		<!-- left -->
		<article class="col-1-3" style="margin-right:15%">
			<h2 class="heading-icon contact">Contact<br><span class="color">let's keep in touch.</span></h2>
			<ul class="details none">
				<li>
					<span>Founder</span>
					<div>Akshay Ahuja,</div>
					<!--<div>For queries, feedback and partnerships.</div>-->
				</li>
				<li>
					<span>Email</span>
					<div><a href="mailto:akshayahuja@thebigbandtheory.net">akshayahuja@thebigbandtheory.net</a></div>
				</li>
				<li>
					<span>Product<br/> Head</span>
					<div>Mansimran Singh</div><br/>
					<!--<div>For queries, feedback and partnerships.</div>-->
				</li>
				<li>
					<span>Email</span>
					<div><a href="mailto:mansimransingh@thebigbandtheory.net">mansimransingh@thebigbandtheory.net</a></div>
				</li>
			</ul>
		</article>
		<!-- /left -->
		<!-- right -->
		<article class="col-1-2 last" >
		<ng-include src = "'book-artist.html'"></ng-include>
		</article>
		<!-- /right -->
	</section>
	<!-- /boxes -->
</section>
<!-- Google Maps -->
<section id="gmap">
	<p class="container">Please enable your JavaScript in your browser, to view our location.</p>
</section>
<script>
	initGmap();
</script>
