<!-- upcoming events -->
<section id="upcoming-events">
	<section class="container clearfix">
	<!-- left column -->
	<div class="col-1-2">
		<h3 class="medium-heading"><span class="color">Upcoming</span><br/>Events.</h3>
	</div>
	<!-- /left column -->
	<!-- right column -->
	<div class="col-1-2 last">
		<!-- events list -->
		<ul class="none events-list">
			<!-- event -->
			<li>
				<a href="event.html">
					<span class="date">08/10</span>
					<span class="title">Power Bass Festival <span class="details">Melbourne, Australia</span></span>
					<span class="plus-button"></span>
				</a>
			</li>
			<!-- /event -->
			<!-- event -->
			<li>
				<a href="event.html">
					<span class="date">10/11</span>
					<span class="title">Made in Glitch! <span class="details">London, UK</span></span>
					<span class="plus-button"></span>
				</a>
			</li>
			<!-- /event -->
			<!-- event -->
			<li>
				<a href="event.html">
					<span class="date">30/11</span>
					<span class="title">Sanctuary Outdoor Festival <span class="details">Warsaw, Poland</span></span>
					<span class="plus-button"></span>
				</a>
			</li>
			<!-- /event -->
			<!-- event -->
			<li>
				<a href="event.html">
					<span class="date">02/12</span>
					<span class="title">Sunandbass <span class="details">Sardinia, Italy</span></span>
					<span class="plus-button"></span>
				</a>
			</li>
			<!-- /event -->
			<!-- event -->
			<li>
				<a href="event.html">
					<span class="date">11/12</span>
					<span class="title">Amsterdam Dance Event <span class="details">Amsterdam, Holand</span></span>
					<span class="plus-button"></span>
				</a>
			</li>
			<!-- /event -->
		</ul>
		<!-- /events list -->
	</div>
	<!-- /right column -->
	</section>
</section>