<!-- /upcoming events --><!-- footer-top -->
<section id="footer-top">
	<div class="container clearfix">
		<div class="col-2-3">
			<ul class="contact">
				<!--<li class="address">Melbourne, AU, VIC 3000.</li>-->
				<!--<li class="phone">(123) 563-9899-234</li>-->
				<li class="email"><a href="mailto:contact@thebigbandtheory.net">contact@thebigbandtheory.net</a></li>
			</ul>
		</div>
		<div class="col-1-3 last">
			 <!-- social icons -->
			<div class="social-icons">
				<a href="http://www.twitter.com/bbt85" target="_blank" class="social-icon twitter"></a>
				<a href="http://www.facebook.com/musictbbt" target="_blank" class="social-icon facebook"></a>
				<!--<a href="#" class="social-icon lastfm"></a>-->
				<a href="http://www.soundcloud.com/thebigbandtheorymusic" target="_blank" class="social-icon soundcloud"></a>
				<!--<a href="#" class="social-icon myspace"></a>-->
				<a href="http://www.youtube.com/thebigbandtheory" target="_blank" class="social-icon youtube"></a>
			</div>	
			<!-- /social icons -->
		</div>
	</div>
</section>

<!-- /footer-top -->
<!-- footer -->
<footer id="footer" class="clearfix">
	<section class="container clearfix">
		<div class="col-1-2">
			
			<!-- footer-nav -->
				<nav id="footer-nav" class="clearfix">
					<ul>
						<li><a ui-sref="app.home">Home</a></li>
						<li><a ui-sref="app.team">Team</a></li>
						<li><a ui-sref="app.releases">Releases</a></li>
						<li><a ui-sref="app.contact">Contact</a></li>
					</ul>
				</nav>
		            <!-- /footer-nav -->
		            <div class="copyright">
		            	 Copyright &copy; 2015. Big Band Theory All rights reserved.
		            </div>
		</div>
		<div class="col-1-2 last">
			<!-- footer twitter -->
			
	</section>
</footer>
<!-- /footer -->