	<!-- boxes -->
	<section class="boxes">
		<!-- box -->
		<div class="box col-1-3">
			<h2 class="heading-icon podcast no-margin">Checkout new <br/><span class="color">podcasts.</span></h2>
		</div>
		<!-- /box -->
		<!-- box -->
		<div class="box col-1-3">
			<a href="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F37028581&amp;auto_play=false&amp;show_artwork=true&amp;color=fa4c29" class="thumb-icon mediabox tip" data-width="auto" data-height="200" data-tip-title="#United Breaks (48 min)" data-tip-desc="Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc consectetur eros eget lacus fringilla in feugiat odio viverra.">
				<img src="placeholders/02-box-image-420x200.jpg" alt="" title="This is an example of a caption" />
				<span class="icon soundcloud"></span>
			</a>
		</div>
		<!-- /box -->
		<!-- box -->
		<div class="box col-1-3 last">
			<a href="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F37028581&amp;auto_play=false&amp;show_artwork=true&amp;color=fa4c29" class="thumb-icon mediabox tip" data-width="auto" data-height="200" data-tip-title="#United Breaks (48 min)" data-tip-desc="Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc consectetur eros eget lacus fringilla in feugiat odio viverra.">
				<img src="placeholders/01-box-image-420x200.jpg" alt="" title="This is an example of a caption" />
				<span class="icon soundcloud"></span>
			</a>
		</div>
		<!-- /box -->
	</section>
	<!-- /boxes -->
</section>